<h1>Charts</h1>
<div class="cards">

<lab4-price-card
title ='tytul'
icon ='https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png'
amount ='23'
color = 'green'
name = 'Blabla Blalalal'
></lab4-price-card>

<lab4-price-card
title ='tytul2'
icon ='https://cdn-icons-png.flaticon.com/512/1/1176.png'
amount ='45'
color = 'orange'
name = 'lelel'
></lab4-price-card>

</div>

<div class="charts">
    <lab4-price-card-with-chart
    title='tytul2'
    color='blue'
    amount='58'

    chart='https://static.vecteezy.com/system/resources/previews/010/160/081/original/trend-icon-sign-symbol-design-free-png.png'
    ></lab4-price-card-with-chart>
</div>